<div class="center hero-unit">
  <h1>Welcome to SimpleFi</h1>

  <h2>Practical financial education with financial assistance</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>